.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form,
  .signup-form {
    background-color: #f2f2f6;
    padding: 20px;
    border-radius: 8px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #020202;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .signup-form {
    display: none;
  }
  
  .show-signup .signup-form {
    display: block;
  }
  .signup-form {
    display: none;
  }
