.nav-link .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .bi {
    width: 32px; /* or any other size */
    height: 32px; /* match the width for consistency */
    margin-bottom: 4px; /* adds a little space between the icon and text */
  }
  
  .nav-link div {
    text-align: center; /* centers the text below the icon */
  }
  
  .navbar-collapse.collapsing,
  .navbar-collapse.show {
  max-height: 75vh; /* Adjust based on your needs */
  overflow-y: auto;
}

.navbar-brand {
    font-size: xx-large;
    font-family: cursive;

}

body {
    padding-top: 100px;  /* Adjust this value to match your navbar's actual height */
}

