/* General body styling */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif; /* Use a simple and widely supported font */
}

/* Styling for the table */
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #4CAF50;
  color: white;
}

/* Hover effect for rows */
tbody tr:hover {
  background-color: #f5f5f5;
}

button {
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px 0;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}


.logout-button {
  display: block; 
  width: 50%; 
  margin: 20px auto; 
  padding: 10px 0; 
  background-color: #dc3545;  
  color: white;  
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #c82333;  
}


/* Responsive table adjustments */
@media screen and (max-width: 400px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    margin: 0 0 20px 0;
  }

  td {
    border-bottom: 1px solid #ddd; 
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left; 
    box-sizing: border-box; 
  }

  td:before {
    content: attr(data-label);
    position: absolute;
    left: 0; 
    padding-right: 10px;
    white-space: nowrap; 
    text-align: left; 
    font-weight: bold; 
  }

  
  input[type="text"] {
    width: calc(100% - 20px);
    margin-top: 5px;
    box-sizing: border-box;
  }
}

h2 {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  font-weight: normal;
  text-align: left;
  padding-left: 10px;
}


