/*---------- all pages ----------*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body{
  margin: 0;
  /*sticky footer*/
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  padding-top: 100px;
  flex-grow: 1;
    /* grows to take up any remaining space */
  width: 100%;/* to ensure the main tag takes full width */
}
footer {
  background-color: blue;
  text-align: center;
  /* text floating in the center*/
  color: white;
}
footer address {
  display: inline-block;
  margin-left: 20px;
  font-style: normal;
  /*removing italic*/
}
#page-footer {
  background-color: #0056b3;
}

/*---------- nav section ----------*/
.nav-link .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bi {
  width: 32px;/* or any other size */
  height: 32px;/* match the width for consistency */
  margin-bottom: 4px;/* adds a little space between the icon and text */
}
.nav-link div {
  text-align: center;/* centers the text below the icon */
}
.navbar-collapse.collapsing,
.navbar-collapse.show {
  max-height: 75vh;/* Adjust based on your needs */
  overflow-y: auto;
}
.navbar-brand {
  font-size: xx-large;
  font-family: cursive;
}

/*---------- login and signup section ----------*/
.login_main,
.signup_main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#login_loginForm,
#signup_signupForm {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f6;
  padding: 20px;
  border-radius: 8px;
}
#login_E-mail,
#login_password,
#signup_Name,
#signup_E-mail,
#signup_Password{
  margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #020202;
    border-radius: 4px;
}
#login_btn-login,
#signup_btn-create {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#login_btn-login:hover,
#signup_btn-create:hover {
  background-color: #0056b3;
}

/*---------- home tab section ----------*/
.home_articles {
  margin-bottom: 100px; 
  font-size:34px;
  color:#050505
}

.article {
  margin-bottom: 70px; 
  background-color: #FFA500; /* Add border */
  padding: 20px; /* Add padding */
  border-radius: 10px; /* Add border radius */
}

.article h3 {
  font-size:50px;
  margin-top: 0;
  margin-bottom: 10px;
  color:#f2f2f6 
}

.article p {
  margin-bottom: 30px; 
  font-size:30px;
  color:#020202
}

.article a {
  font-size:20px;
  color: rgb(238, 244, 237);
  text-decoration: none; 
  font-weight: bold; 
}

.article a:hover {
  text-decoration: underline; 
}

.home_food {
  background-color: rgb(40, 176, 33);
  padding: 20px;
  text-align: center;
}
.home_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}
.home_food-image {
  width: 30%;/* Set the width to fill the container */
  height: 700px;/* Set the height */
  object-fit: cover;/* Ensure the image covers the defined dimensions */
  margin: 0 auto;/* Center the image horizontally within the container */
}
.home_slideshow-container {
  width: 100%;/* Set the maximum width of the container */
  margin: 0 auto;/* Center the container horizontally */
}
/* calendar */
.home_calendar {
  position: fixed;
  bottom: 20px; 
  right: 200px; 
  z-index: 9999; 
  background-color: rgb(40, 176, 33); 
  padding: 20px;
  border-radius: 10px; 
}
#calendar {
  max-width: 400px;
  margin: 0 auto;
  padding: 37px;
  background:rgb(40, 176, 33);
  border-radius:60px;
}

.month {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.weekdays {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.days {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.days li {
  width: 46px;
  height: 50px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 10px;
}

/*---------- about tab section section ----------*/
/* Style for the project explanation section */
#project-explanation {
  padding: 100px 0;
}

/* Style for the team members section */
#team-members {
  padding: 50px 0;
}

/* Style for the team member boxes */
.team-member {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
}

.team-member .info h3 {
  margin-top: 0;
}

.team-member .info p {
  margin-bottom: 0;
}

/* Style for the general image */
.team-image {
  width: 100%;
  height: auto;
}
/* Media query for smaller screens */
@media (max-width: 768px) {
  .team-member-boxes {
      margin-top: 20px;
  }
}
/*---------- favourites tab section ----------*/
/*---------- nutritions tab section ----------*/
/*---------- recipes tab section ----------*/

/*---------- profile tab section ----------*/
#profile_info_list {
  list-style-type: none;
}
/* General styling for sections */
.profile_container {
  margin-bottom: 30px;
}
/* Header styling within sections */
.profile_container h2 {
  margin-bottom: 10px;
}
/* Form styling specifically for the update account section */
#profile_new_username,
#profile_new_email,
#profile_password {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
/* Label styling in the form of the update profile section */
.profile_container label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}
/* Submit button styling specific to the update profile section */
.profile_container button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.profile_container button[type="submit"]:hover {
  background-color: #45a049;
  /* Darken color on hover */
}