/*---------- all pages ----------*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body{
  margin: 0;
  /*sticky footer*/
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  padding-top: 100px;
  flex-grow: 1;
    /* grows to take up any remaining space */
  width: 100%;/* to ensure the main tag takes full width */
}
footer {
  background-color: rgb(47, 47, 48);
  text-align: center;
  /* text floating in the center*/
  color: white;
}
footer address {
  display: inline-block;
  margin-left: 20px;
  font-style: normal;
  /*removing italic*/
}
#page-footer {
  background-color: rgb(40, 40, 40);
}

/*---------- nav section ----------*/
.nav-link .icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bi {
  width: 32px;/* or any other size */
  height: 32px;/* match the width for consistency */
  margin-bottom: 4px;/* adds a little space between the icon and text */
}
.nav-link div {
  text-align: center;/* centers the text below the icon */
}
.navbar-collapse.collapsing,
.navbar-collapse.show {
  max-height: 75vh;/* Adjust based on your needs */
  overflow-y: auto;
}
.navbar-brand {
  font-size: xx-large;
  font-family: cursive;
}

/*---------- login and signup section ----------*/


/*---------- home tab section ----------*/


/*---------- about tab section section ----------*/
/*---------- favourites tab section ----------*/
/*---------- nutritions tab section ----------*/
/*---------- recipes tab section ----------*/

/*---------- profile tab section ----------*/
