html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  background-color: rgb(40, 176, 33);
}

header h1 {
  color: white;
}

header nav ul {
  list-style-type: none;
}

header nav li {
  float: right;
}

header nav ul li a {
  text-decoration: none;
  color: rgb(8, 8, 8);
  display:  block;
  padding-right: 20px;
}

header .active {
  color: red;
}
main {
  min-height: 100vh;
  flex: 1;
  width: 100%;
}

footer {
  background-color:rgb(40, 176, 33);;
  text-align: center;
  color: white;
}

footer address {
  display: inline-block;
  margin-left: 20px;
  font-style: normal;
}

.food {
  background-color: #090a08;
  padding: 20px;
  text-align: center;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}
.food {
  background-color: rgb(40, 176, 33);
  padding:20px;
  text-align: center;
}

.slideshow-container {
  max-width: 200px; /* Set the maximum width of the container */
  margin: 0 auto; /* Center the container horizontally */
}

.food-image {
  width: 30%; /* Set the width to fill the container */
  height: 300px; /* Set the height */
  object-fit: cover; /* Ensure the image covers the defined dimensions */
  margin: 0 auto; /* Center the image horizontally within the container */
}
